.block_5 {
  padding: 135px 0 130px;
  background: url(../images/block-5-bg.svg) $blue;
  color: $white;
  @media (max-width: $tablet-bp) {
    padding: 90px 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: $tablet-bp) {
      padding-left: 60px;
      padding-right: 60px;
    }
    @media (max-width: $mobile-bp) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &__content {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $tablet-bp) {
      width: 100%;
    }
    @media (max-width: $mobile-bp) {
      flex-direction: column;
    }
    &_item {
      flex: 0 0 calc(50% - 70px);
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:last-child {
        flex-direction: row;
        a:first-child {
          margin-right: 15px;
        }
      }
      @media (max-width: $mobile-bp) {
        &:nth-child(2) {
          margin-bottom: 50px;
        }
        &:nth-child(3) {
          order: 4;
        }
        &:nth-child(4) {
          order: 3;
          align-self: flex-end;
          transform: translateY(-85px);
          margin-bottom: 0;
        }
      }
    }
  }
  &__line {
    line-height: 1.5;
    text-decoration: none;
    color: $white;
    &:first-child {
      margin-bottom: 60px;
    }
  }
  &__link {
    color: $white;
    text-decoration: none;
    padding-bottom: 13px;
    border-bottom: 1px solid $white-opacity;
    &:first-child {
      margin-bottom: 78px;
    }
  }
  &__small_text {
    font-size: calc((2rem / 3));
  }
}