.block_1 {
  .wrapper {
    padding: 170px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: $tablet-bp) {
      padding: 75px 15px 0;
    }
  }
  &__logo {
    margin-bottom: 115px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  &__title {
    @media (max-width: $tablet-bp) {
      font-size: 1.72rem;
    }
  }
  &__item {
    text-align: center;
    padding: 5px 60px;
    flex: 0 0 auto;
    position: relative;
    @media (max-width: $tablet-bp) {
      padding: 5px 15px;
      flex: 0 0 calc(100% / 3);
    }
    span {
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      text-align: center;
      color: $grey;
      font-size: 0.875rem;
      @media (max-width: $tablet-bp) {
        bottom: -5px;
      }
    }
    &:nth-child(2) {
      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        background: $block-1-border;
        @media (max-width: $tablet-bp) {
          height: 55%;
        }
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }
}