.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: $header-red;
  color: $white;
  width: 100%;
  z-index: 2;
  &--desktop {
    @media (max-width: $tablet-bp) {
      display: none;
    }
  }
  &--mobile {
    display: none;
    @media (max-width: $tablet-bp) {
      display: flex;
      justify-content: flex-start;
      background: transparent;
    }
  }
  &__burger {
    background: url(../images/burger.png);
    display: block;
    width: 36px;
    height: 26px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1;
  }
  &_m__close {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    &:before,&:after {
      content: '';
      position: absolute;
      background: $white;
      height: 50px;
      width: 1px;
      display: block;
      left: 20px;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
  &__m_menu {
    position: relative;
    z-index: 2;
    background: $header-red;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    transform: translateY(-100vh);
    transition: $transition-common;
    max-height: 0;
    &.open {
      max-height: 100%;
      transform: translateY(0);
    }
    &__item {
      font-size: 2rem;
      margin-bottom: 50px;
      @media (max-width: $mobile-bp) {
        font-size: 1.5rem;
      }
    }
  }
  &__item {
    margin: 0 20px;
    cursor: pointer;
    padding: 20px 0;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
      height: 1px;
      transition: $transition-common;
      background: transparent;
    }
    &:hover:before, &.active:before {
      background: $header-border-hover;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}