.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: $header-red;
  color: $white;
  width: 100%;
  z-index: 2;
  &__item {
    margin: 0 20px;
    cursor: pointer;
    padding: 20px 0;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
      height: 1px;
      transition: $transition-common;
      background: transparent;
    }
    &:hover:before, &.active:before {
      background: $header-border-hover;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}