html
  head
    title W-Profit
    link(rel='stylesheet' href='/style.css')
  body
    header.header.header--desktop
      .header__item Main
      .header__item Traffic sources
      .header__item PRICING MODELS
      .header__item VERTICALS
      .header__item CONTACTS
    section.block.block--1
      .wrapper
        img(src=require('../images/w-profit-logo.png') width=318 height=86)
        h1 We are W-profit —
          | performance media buying agency
        .block_1__items
          .block_1__item
            p Outstanding media buying experts
          .block_1__item
            p Large amounts of traffic
            span up to 40 000 installs daily
          .block_1__item
            p In-house creatives production team
